---
import Layout from '../../../layouts/Layout.astro';
import CreateReport from '../../../components/reportPages/CreateReport';
import { getOboToken } from '@src/utils/server/getOboToken';
import { apiUrl } from '@src/utils/server/urls';
const { id } = Astro.params;

const oboToken = await getOboToken(Astro.locals.token);

const aggregatedReportResponse = await fetch(
  `${apiUrl}/api/reports/aggregated/${id}`,
  {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
      Accept: 'application/json',
      Authorization: `Bearer ${oboToken}`,
    },
    // @ts-expect-error - This is a valid option
    duplex: 'half',
  },
);

const userResponse = await fetch(`${apiUrl}/api/user`, {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${oboToken}`,
  },
  // @ts-expect-error - This is a valid option
  duplex: 'half',
});

const aggregatedReport = await aggregatedReportResponse.json();
const user = await userResponse.json();
---

<Layout>
  <CreateReport
    client:only="react"
    report={aggregatedReport}
    reportType="AGGREGATED"
    isAdmin={user.isAdmin}
  >
    <div slot="fallback">Loading...</div>
  </CreateReport>
</Layout>
