---
import { getOboToken } from '@src/utils/server/getOboToken';
import { apiUrl } from '@src/utils/server/urls';
import Layout from '../../../layouts/Layout.astro';
import Reports from '@components/aggregated-reports/CreateAggregatedReport';
import styles from './_create-report.module.css';

const oboToken = await getOboToken(Astro.locals.token);

console.log(`URL: ${apiUrl}/reports`);

const response = await fetch(`${apiUrl}/api/reports`, {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
    Accept: 'application/json',
    Authorization: `Bearer ${oboToken}`,
  },
  // @ts-expect-error - This is a valid option
  duplex: 'half',
});

const data = await response.json();
---

<Layout>
  <div class={styles.content}>
    <h1 class={styles.h1}>Opprett samlerapport</h1>

    <Reports client:only reports={data} />
  </div>
</Layout>
